
/*==== VARIABLES ====*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root{
  --grey: #EEEEEE;
  --greyDarker: #AEAEAE;
  --greyBlue: #798994;
  --mainGreen : #1CE99F;



  /* Light colors */

  --mainPurple : #8439FF;
  --sndPurple : #8F00FF;
  --gradiantPurple : linear-gradient(135deg, #8439FF 0%, #8F00FF 97.86%);

  /* Font */

  --font : 'Lato', sans-serif;
  --fontPurple : #1D004D;
  --fontContent : #141535;

  /* Font size */

  --webP : 1.8rem;
  --webH2 : 4.6rem;
  --webH3 : 2rem;
  --webPBigger : 2rem;
  --webCaption : 1.2rem;
  --webA : 1.8rem;

  /* Effects */

  --WEBshadow : 0px 6px 25px rgba(138, 30, 255, 0.06);



}


/*==== COMPONENTS  ====*/

.s8-btn{
  background: var(--mainPurple);
  padding: 15px 30px;
  font-size: 1.8rem;
  border:none;
  font-family: var(--font) ;
  border-radius: 50px;
  color: white;
  transition: all 250ms ease-in;
}
.s8-btn:hover{

  box-shadow: 0px 5px 23px rgba(143, 0, 255, 0.25);
  transition: all 250ms ease-in;
}

.features__button {
  padding: 0;
  margin-top: 35px;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--fontPurple);
  background-color: white;
}


/*==== Mini reset ====*/
input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
}

html{
  font-size:62.5%;
}


/*==== PERSONALIZED STYLE ====*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

header {
  box-shadow: var(--WEBshadow);
}

.global-container {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#container-display {
  width: 375px;
  height: 812px;
  border: solid 1px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
}
#header-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

}
#header-app h1 {
  font-family: var(--font);
  display: inline-block;
  width: 65%;
  text-align: center;
  font-size: var(--webH3);
}

.picto-help {
  background-image: url("../img/app/picto/picto-help.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;

}
.content {
  padding: 0 5%;
}
.day {
  text-align: center;
  font-size: var(--webCaption);
  font-family: var(--font);
}
.messages-window {

  height: 602px;
  padding: 0% 5%;
  flex-direction: column;
  overflow: scroll;
}

.container-message {

  display: flex;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}
.container-message.me{
  flex-direction: row-reverse;
  text-align: right;
  position: relative;

}
.container-message img {
  padding: 0 10px 0 0;
}
.container-message.me .msg {
  max-width: 250px;
  background: var(--gradiantPurple);
  border-radius: 21px;
  border-bottom-right-radius : 1px;
}
.container-message.me .msg p {
 color:white;
  text-align: left;
  display: inline-block;
}
.container-message.me span {
  color:white;
}
.container-message .msg {
  background-color: #CFB3FF;
  display: flex;
  border-radius: 12px;
  border-top-left-radius: 1px;
  max-width: 195px;
  min-width: 100px;

}
.msg {
  padding: 0 10px 5px 10px;
}
.msg p {
  width: 80%;
  padding: 10px;
  font-family: var(--font);
  color: var(--fontContent);
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0;
  vertical-align: middle;
}
.translation {
  margin: 0;
  text-align: left;
  color: #904DFF;
  font-family: var(--font);
  font-size: 1rem;
  margin-left: 13px;

}
.hours {
  text-align: right;
  display: flex;
  align-items: flex-end;
  margin-right: 2px;
  width: 20%;
  flex-direction: column-reverse;
}
.container-message .msg-img {
  padding: 0;
  margin-top: 6px;
}
.container-img {
  position: relative;
}
.reaction {
  background: white;
  width: 26px;
  height: 16px;
  border-radius: 7.5px;
  box-shadow: 0px 6px 25px rgba(138, 30, 255, 0.28);
  position: absolute;
  bottom: -5px;
  right: 5px;
}

.reaction span {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.btn-player {
  top: 50%;
  transform: translateY(15%);
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: inline-block;
  margin-right: 5%;
  vertical-align: middle;
}
.btn-player:after {
  content : '';
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 0px;
  height: 14px;
  border-bottom: solid 10px var(--mainPurple);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

}

.sound {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  top: 50%;
  transform: translateY(5%);
}
.btn-action {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}
.user-action {
  display: flex;
  margin-bottom: 50px;
  background-color: white;
}
.type-action {

  background-color: #EFE5FF;
  border-radius: 50px;
  height: 40px;
  width: 228px;
  position: relative;

}

input {
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  padding-left: 15%;
  width: 100%;
  height: 100%;
  outline: none;
}
::placeholder {
  color: #B080FF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B080FF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #B080FF;
}

.micro {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-image: url("../img/app/picto/microphone.png"), var(--gradiantPurple);
  background-position: center;
  background-repeat: no-repeat;
}
footer {
  position: absolute;
  bottom: 0;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {



}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
/*****************  New question PAGE  *********************/
.global-container.wrapper{
  font-family: var( --font );
}
/*====== Components ======*/
.category {
    font-size: var(--webCaption);
    margin-bottom: 10px;
    display: block;
}
.text_btn{
  font-size: var(--webCaption);
  color: var(--sndPurple);
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}
.back_btn{
  width: 21px;
  height: 18px;
  background-image: url('../img/app/picto/left.png');
  cursor: pointer;
}
.priority_btn{
  width: 96px;
  min-width: 96px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: var( --font );
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 17px;
}
.priority_btn.is_low{
  border-color: #B080FF;
  color: #B080FF;
}
.priority_btn.is_low.is_active{
  background-color: #B080FF;
  color: #fff;
}
.priority_btn.is_normal{
  border-color: #8A1EFF;
  color: #8A1EFF;
}
.priority_btn.is_normal.is_active{
  background-color: #8A1EFF;
  color: #fff;
}
.priority_btn.is_urgent{
  border-color: #4400B3;
  color: #4400B3;
}
.priority_btn.is_urgent.is_active{
  background-color: #4400B3;
  color: #fff;
}
.tag_btn{
  position: relative;
  font-family: var( --font );
  height: 27px;
  font-size: 12px;
  color: #fff;
  text-align: left;
  padding-left: 12px;
  padding-right: 30px;
  border-radius: 50px;
  background-color: red;
  min-width: 86px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #8439FF, #8F00FF);
  margin-right: 17px;
  margin-bottom: 15px;
}
.tag_btn_del{
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  right: 10px;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url('../img/app/picto/del-tag-icon.png');
  background-size: contain;
}
.section_subtitle{
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 12px;
  color: var( --sndPurple);
}
.button_container{
  display: flex;
  flex-flow: row wrap;
}
.button_container.priority_container{
  flex-flow: row nowrap;
  margin-bottom: 45px;
}
.button_container.tag_container{
  margin-bottom: 25px;
}
/*====== END Components ======*/

.global-container.wrapper{
  position: static;
  font-weight: lighter;
  color: var(--fontPurple);
  font-size: var(--webP);
  line-height: 120%;
}
.question_type_container{
  position: relative;
  width: 100%;
  display: flex;
  height: 65px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.question_type{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.question_type button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #EFE5FF;
}
.question_type button span{
  display: inline-block;
  width: 100%;
  max-width: 50px;
  color: #1D004D;
  opacity: .4;
}
.question_type button span.is_current{
  opacity:  1;
}

.current_question_highlighter{
  position: absolute;
  bottom: 0;
  transform: translateX(200%);
  width: 25%;
  height: 1px;
  background-color: #1D004D;
}
.tab_content{
  padding: 0 32px;
  padding-top: 20px;
  min-height: 100px;
}
.ask_textarea_container{
  position: relative;
  margin-bottom: 35px;
}
.ask_textarea_label{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 30px;
  opacity: .3;
  transition: all .3s ease-in-out;
}
.ask_textarea_label.is_disabled, .ask_input_label.is_disabled{
  transform: scale(0);
  opacity: 0;
}
.ask_textarea{
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 2;
  height: 60px;
  width: 100%;
  font-size: 16px; 
  color: var(--fontPurple);
}

.ask_input_container{
  position: relative;
  margin-bottom: 15px;
}
.ask_input_label{
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  left: 0;
  font-size: 15px;
  font-weight: bold;
  opacity: .3;
  transition: all .3s ease-in-out;
}
.ask_input{
  position: relative;
  z-index: 2;
  padding: 0;
  padding-left: 10px;
  height: 24px;
  width: 100%;
  box-sizing: border-box;
  color: var(--fontPurple);
}
.bottom_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #CFB3FF;
  height: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.bottom_menu_item{
  margin: 0 22px;
}
.bottom_menu_item:nth-child(n+3){
  margin-top: 4px;
}
.bottom_menu_item button{
  cursor: pointer;
}
.keypad_container{
  position: relative;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: all .3s ease-in;
}
.keypad_container.is_visible{
  height: 375px;
}

#container-display.new_question{
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 300px;
}