/* BEM MUST BE USED TO DEV */


/*==== VARIABLES ====*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root{
  --grey: #EEEEEE;
  --greyDarker: #AEAEAE;
  --greyBlue: #798994;
  --mainGreen : #1CE99F;



  /* Light colors */

  --mainPurple : #8439FF;
  --sndPurple : #8F00FF;
  --gradiantPurple : linear-gradient(135deg, #8439FF 0%, #8F00FF 97.86%);

  /* Font */

  --font : 'Lato', sans-serif;
  --fontPurple : #1D004D;
  --fontContent : #141535;

  /* Font size */

  --webP : 1.8rem;
  --webH2 : 4.6rem;
  --webPBigger : 2rem;
  --webCaption : 1.2rem;
  --webA : 1.8rem;

  /* Effects */

  --WEBshadow : 0px 6px 25px rgba(138, 30, 255, 0.06);


}


/*==== COMPONENTS  ====*/

.s8-btn{
  background: var(--mainPurple);
  padding: 15px 30px;
  font-size: 1.8rem;
  border:none;
  font-family: var(--font) ;
  border-radius: 50px;
  color: white;
  transition: box-shadow 250ms ease-in;
}
.s8-btn:hover{

  background: var(--gradiantPurple);
  box-shadow: 0px 5px 23px rgba(143, 0, 255, 0.25);
  transition: box-shadow 250ms ease-in;
}

.features__button {
  padding: 0;
  margin-top: 35px;
  border: none;
  font-size: var(--webCaption);
  letter-spacing: 1px;
  color: var(--fontPurple);
}


html{
  font-size:62.5%;
}


/*==== PERSONALIZED STYLE ====*/
body {

  background-image: url("../img/cover-circle.png");
  background-size: cover;
  font-family: var(--font);

}


main{
}

h1{
  font-size: 5.8rem;
}

h2{
  font-size: 3.5em;
}

h3{
  font-size: 2em;
}

p {
  font-weight: lighter;
  color: var(--fontContent);
  font-size: var(--webP);
  line-height: 120%;
}

.container-fluid{
  margin: 0;
  padding: 0;
}



.header-content{
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header__logo{


}

.header-right{
  width: calc(6vh + 230px);
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__suscribe{
  width: 200px;
  border: solid 2px var(--mainGreen);
  background: initial;
}

.header__menu{
  background-color: #ffffff;
  margin: 0 0 0 30px;
  height: 6vh;
  width: 6vh;
}

#container__bckg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.landing{
  height: 100vh;
}

.landing__text{
  display: inline-block;
  height: 60vh;
  color: #ffffff;
  padding-right: 70px;
}

.landing__text h1{
  margin-bottom: 30px;
}

.landing__text p{
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  font-weight: lighter;
  color: white;
}

.landing__button{
  background-color: var(--mainGreen);
}

.landing__button-video{
  color: #ffffff;
  margin-left: 20px;
}


.landing__image{
  display: inline-block;
  height: 300px;
  background-color: var(--greyBlue);
}

.about{
  height: 60vh;
}

.about__card {
  text-align: center;
  padding: 5px;
  align-items: center;
}

.about__card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0px 0px 25px 0px;
  background-color: var(--greyBlue);
}
.about__card_content{
  padding: 0 20px;
}
.about__card_wrapper {
  padding: 50px 0;
  margin: 15px;
  border: solid 1px transparent;
  transition: box-shadow .25s;
}

.about__card_wrapper:hover{
  box-shadow: var(--WEBshadow);
  transition: box-shadow .25s;

}

.about__card h3 {
  margin-bottom: 10px;
  font-size: var(--webPBigger);
  color: var(--fontPurple);
}
.about__card p {
  font-size: var(--webP);
  line-height: 130%;
  width: 90%;
  margin: auto;
}

.features{
  height: 80vh;
  flex-direction: row-reverse;
}
.features.reverse{
  flex-direction: row;
}
.features__wrapper{
  width: 80%;
}

.features__category {
  color: var(--mainPurple);
  font-size: var(--webCaption);
  margin-bottom: 10px;
  display: block;
}
.features__text{
  display: inline-block;
  height: 60vh;
  align-items: center;
  margin: 10px;
}
.features__text h2 {
  font-size: var(--webH2);
}
.features__text p {
  margin-top: 35px;
}

.features__image{
  display: inline-block;
  height: 60vh;
  width: 100%;
  background-color: var(--greyBlue);
}

.features__image img{
  width: 80%;
}

.features__text h1{
  font-size: 4em;
}

.opinion__list{
  width: 100%;
  height: 50vh;
}

.opinion__list-content{
  height: 50%;
  background-color: var(--greyBlue);
}

.download{
  height: 80vh;
}

.download__text{
  display: inline-block;
  height: 60vh;
}

.download__image{
  display: inline-block;
  height: 60vh;
  background-color: var(--greyBlue);
}

.download__text h1{
  font-size: 4em;
}

.faq__title{
  margin-bottom: 25px;
}

.faq__questionList{
  height: 100%;
  margin-bottom: 10vh;
}

.faq__questions{
  height: 50px;
  background-color: var(--greyBlue);
  margin-bottom: 15px;
}

.footer{
  background-color: var(--greyBlue);
  height: 25vh;
}
