/* BEM MUST BE USED TO DEV */


/*==== VARIABLES ====*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root{
  --grey: #EEEEEE;
  --greyDarker: #AEAEAE;
  --greyBlue: #798994;
  --mainGreen : #1CE99F;



  /* Light colors */

  --mainPurple : #8439FF;
  --sndPurple : #8F00FF;
  --gradiantPurple : linear-gradient(135deg, #8439FF 0%, #8F00FF 97.86%);

  /* Font */

  --font : 'Lato', sans-serif;
  --fontPurple : #1D004D;
  --fontContent : #141535;

  /* Font size */

  --webP : 1.8rem;
  --webH2 : 4.6rem;
  --webPBigger : 2rem;
  --webCaption : 1.2rem;
  --webA : 1.8rem;

  /* Effects */

  --WEBshadow : 0px 6px 25px rgba(138, 30, 255, 0.06);


}


/*==== COMPONENTS  ====*/

.s8-btn{
  background: var(--mainPurple);
  padding: 15px 30px;
  font-size: 1.8rem;
  border:none;
  font-family: var(--font) ;
  border-radius: 50px;
  color: white;
  transition: all 250ms ease-in;
}
.s8-btn:hover{

  box-shadow: 0px 5px 23px rgba(143, 0, 255, 0.25);
  transition: all 250ms ease-in;
}

.features__button {
  padding: 0;
  margin-top: 35px;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--fontPurple);
  background-color: white;
}


html{
  font-size:62.5%;
}


/*==== PERSONALIZED STYLE ====*/
body {

  background-image: url("../img/cover-circle.png");
  background-size: cover;
  font-family: var(--font);
}


main{
}

h1{
  font-size: 5.8rem;
}

h2{
  font-size: 3.5em;
  font-weight: bold;
}

h3{
  font-size: 2em;
}

p {
  font-weight: lighter;
  color: var(--fontPurple);
  font-size: var(--webP);
  line-height: 120%;
}

span{
  color: var(--sndPurple);
}

.container-fluid{
  margin: 0;
  padding: 0;
}



.header-content{
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all .25s ease-in-out;
}
.header-content.isSticky {
  transition: all .25s ease-in-out;
  height: 10vh;
  background-color: white;
  box-shadow: var(--WEBshadow);
}
.header-content.isSticky img {
  width: 100px;
}
.header-content.isSticky .header__suscribe {
  background-color: var(--mainGreen);
  color: white;
  border: none;
  font-size: 1.5rem;
}

.isSticky .menu-toggle div{
    background: var(--mainPurple);
}

.header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header__logo{


}
header{
  width: 100%;
}
.container.nav{
  height: 100%;
}
.header-right{
  width: calc(6vh + 230px);
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__suscribe{
  width: 200px;
  border: solid 2px var(--mainGreen);
  background: initial;
}

.header__menu{
  margin: 0 0 0 30px;
}

#container__bckg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.landing{
  height: 100vh;
}

.landing__text{
  display: inline-block;
  height: 60vh;
  color: #ffffff;
  padding-right: 70px;
}

.landing__text h1{
  margin-bottom: 30px;
}

.landing__text p{
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  font-weight: lighter;
  color: white;
}

.landing__button{
  background-color: var(--mainGreen);
}

.landing__button-video{
  font-size: 1.4em;
  margin-left: 20px;
  color: var(--fontPurple);
}

.landing__button-video:hover{
  color: #ffffff;
  text-decoration: none;
}

.landing__image{
  display: inline-block;
  height: 300px;
  background-color: var(--greyBlue);
}

.about{
  height: 60vh;
  justify-content: space-around;
}

.about__card {
  text-align: center;
  padding: 5px;
  align-items: center;
}

.about__card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0px 0px 25px 0px;
}
.about__card_content{
  padding: 0 20px;
}
.about__card_wrapper {
  padding: 15px 0;
  max-width: 275px;
  margin: 15px;
  border: solid 1px transparent;
  transition: box-shadow .25s;
}

.about__card_wrapper:hover{
  box-shadow: var(--WEBshadow);
  transition: box-shadow .25s;
}

.about__card h3 {
  margin-bottom: 15px;
  font-size: var(--webPBigger);
  color: var(--fontPurple);
}
.about__card p {
  font-size: var(--webP);
  line-height: 130%;
  width: 90%;
  margin: auto;
}

.features{
  height: 80vh;
  flex-direction: row-reverse;
}
.features.reverse{
  flex-direction: row;
}
.features__wrapper{
  width: 80%;
}
.features__wrapper .category{
  margin-left: 3px;
}

.category {
  font-size: var(--webCaption);
  margin-bottom: 10px;
  display: block;
}
.category.center{
  text-align: center;
}
.features__text{
  display: inline-block;
  height: 50vh;
  align-items: center;
  margin: 10px;
}
.features__text h2 {
  font-size: var(--webH2);
}
.features__text p {
  margin-top: 35px;
}

.features__image{
  display: inline-block;
  height: 50vh;
  width: 100%;
  position: relative;
}

.features__image img{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.features__text h1{
  font-size: 4em;
}

.opinion__list{
  width: 100%;
  height: 50vh;
}

.opinion__list-content{
  height: 50%;
}

.download{
  height: 95vh;
  flex-direction: row-reverse;
}

.download__wrapper {
  width: 80%;
}

.download__text{
  display: inline-block;
  height: 60vh;
}

.download__image{
  display: inline-block;
  height: 60vh;
  width: 100%;
  position: relative;
}

.download__image img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.download__text h1{
  font-size: 4em;
}
.download__wrapper h2{
  font-size: var(--webH2);
  margin-bottom: 10px;
}
.download__wrapper p {
  margin-top: 35px;
}
.download__button {
  margin-top: 35px;
  width: 180px;
  height: 60px;
}
.download__button:first-child {
  background-image: url("../img/appstore.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
.download__button:last-child {
  background-image: url("../img/googleplay.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}




/* === FAQ FROM ELAN VERRIER=== */
.faq__content{
  margin-bottom: 15vh;
}

.faq__title{
  margin-bottom: 25px;
}

.faq__title a{
  color: var(--sndPurple);
}

.faq__title a:hover{
  text-decoration: none;
}

.faq__questionList{
  height: 100%;
  margin-bottom: 10vh;
}

.faq__questions{
  height: 50px;
  margin-bottom: 15px;
}
.faq h2{
  font-size: var(--webH2);
}
.faq p {
  margin: 35px 0;
}
.card {
  border: none;
  position: static;
  background: none;
  margin: 15px 0;
  padding: 15px;
  box-shadow: var(--WEBshadow);
}

.card-header {
  background: none;
  position: relative;
  border: 0;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.mb-0.card-flex {
  border-bottom: solid 1px transparent;
}

.btn {
  padding: 0;
  white-space: inherit;
}

.img3 {
  margin-top: 50px;
}

.btn-link {
  color: var(--fontPurple);
  font-size: var(--webPBigger);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .6s;
  transition: .6s;
  max-width: 90%;
  text-align: left;
  text-decoration: none;
}
.btn-link:hover{
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
}

.mb-0.card-flex:not(.collapsed){

  border-bottom: solid 1px var(--fontPurple);
}

.mb-0.card-flex:hover {
  border-bottom: solid 1px var(--fontPurple);
  -webkit-transition: .6s;
  transition: .6s;
  text-decoration: none;
}

.card-header:hover .btn-link {
  color: var(--fontPurple);
  text-decoration: none;
}


.card-header:hover .horizontal, .card-header:hover .vertical {
  background-color: var(--fontPurple);
}

.card-body {
  background-color: #FFFFFF;
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.testimony {
  padding-left: 5%;
}

.horizontal {
  width: 14px;
  height: 3px;
  background-color: var(--fontPurple);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .6s;
  transition: .6s;
}

.vertical {
  width: 3px;
  height: 14px;
  background-color: var(--fontPurple);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .6s;
  transition: .6s
}

.plus {
  position: absolute;
  height: 14px;
  width: 14px;
  right: 15px;
  margin-top: 5px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-flex.collapsed .plus {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}



.footer{
margin: 50px 0;

}
.footer-section_title .plus {
  display: none;
}

.footer__nav_content {
  display: flex;
  justify-content: space-between;
}

.footer__nav_wrapper{
  margin-bottom: 50px;
}
.footer-section {
  padding-right: 50px;

}
.footer__nav_content h4 {
  color: var(--fontPurple);
  font-size: var(--webCaption);
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__nav_content li {
  margin-bottom: 15px;
}

.footer__nav_content a {
  color: var(--mainPurple);
  font-size: 1.4em;
  font-weight: lighter;
}
.footer__nav_other{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer__nav_terms{

  display: flex;
  align-items: center;
  flex: 1;
}
.footer__nav_rs ul{

  display: flex;
}
.footer__nav_rs ul li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
  background: var(--gradiantPurple);
}
.footer__nav_rs ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav_rs i {
  color: white;
}




/*==== stars from codepen =====*/

.card__stars {
  position: relative;
  width: 200px;
  display: inline-block;
  height: 20px;
  margin-left: 25px;
}
.card__stars:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 50 50' fill='%23cab6ea' %3E%3Cpath d='M 25 2.2734375 L 18.609375 18.480469 L 0.81054688 19.417969 L 14.648438 30.412109 L 10.070312 47.222656 L 25 37.771484 L 39.929688 47.222656 L 35.351562 30.412109 L 49.189453 19.417969 L 31.390625 18.480469 L 25 2.2734375 z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 50%;
  bottom: 0;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.card__stars:after {
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 50 50' fill='%238439FF' %3E%3Cpath d='M 25 2.2734375 L 18.609375 18.480469 L 0.81054688 19.417969 L 14.648438 30.412109 L 10.070312 47.222656 L 25 37.771484 L 39.929688 47.222656 L 35.351562 30.412109 L 49.189453 19.417969 L 31.390625 18.480469 L 25 2.2734375 z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 20px;
  content: "";
  display: block;
  width: 200px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
.card__stars[data-rating='0']:after {
  width: 0px;
}
.card__stars[data-rating='0.5']:after {
  width: 10px;
}
.card__stars[data-rating='1']:after {
  width: 20px;
}
.card__stars[data-rating='1.5']:after {
  width: 30px;
}
.card__stars[data-rating='2']:after {
  width: 40px;
}
.card__stars[data-rating='2.5']:after {
  width: 50px;
}
.card__stars[data-rating='3']:after {
  width: 60px;
}
.card__stars[data-rating='3.5']:after {
  width: 70px;
}
.card__stars[data-rating='4']:after {
  width: 80px;
}
.card__stars[data-rating='4.5']:after {
  width: 90px;
}
.card__stars[data-rating='5']:after {
  width: 100px;
}




/* ===== MENU FROM CODEPEN ===== */
.menu-toggle {
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
  margin-top: -8px;
}

.menu-toggle.on{
  margin-top: 25px;
}

.menu-toggle.on .one {
  transform: rotate(45deg) translate(4px);
  margin: 0px;
}

.menu-toggle.on .two {
  opacity: 0;
  margin: 0px;
}

.menu-toggle.on .three {
  transform: rotate(-45deg) translate(4px);
  margin: 0px;
}

.one,
.two,
.three {
  width: 100%;
  height: 3px;
  background: white;
  margin: 8px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header__menu nav {
  height: 100%;
}

.header__menu nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__menu nav ul.hidden {
  display: none;
}

.header__menu nav ul li {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

.header__menu nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}

.header__menu nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

  .container.nav{
    padding: 0;
  }
  .header__suscribe {
    display: none;
  }
  .header-right {
    width: auto;
    position: absolute;
    right: 40px;
  }
  .header__logo {
    position: absolute;
    left: 40px;
  }
  .landing {
    flex-direction: column;
    height: auto;
  }
  .landing__text {
    display: inline-block;
    height: 75vh;
    text-align: center;
    padding: 0;
    margin-top: 5vh;

  }
  .landing__buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing__button-video {

    margin-left: 0px;
    margin-top: 10px;
    color: var(--fontPurple);
  }
  .about {
    flex-direction: column;
    height: auto;
    margin: 50px 0px;
  }
  .features {
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .features__text{
    margin: 0px 0px 25px 0px;
    height: auto;
  }
  .features.reverse {
    height: auto;
    flex-direction: column-reverse;
  }

  .features__wrapper {
    width: 100%;
  }
  .inner_navigation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .testimony {
    padding: 0 0%;
  }

  .download {
    flex-direction: column-reverse;
    height: auto;
    padding: 50px 0px;
  }
  .download__text {
    height: auto;
  }
  .download__image {
    height: 50vh;
  }
  .download__wrapper {
    width: 100%;
  }
  .download__buttonGroup {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__nav_content {
    display: block;
  }
  .footer__logo_wrapper {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-section {
    padding-right: 0px;
    height: 40px;
    transition: all 250ms ease-in-out;

  }
  .footer__nav_wrapper {
    margin-bottom: 0;
  }
  .footer-section_title {
    position: relative;

  }
  .footer__nav_content li {
    margin-bottom: 15px;
  }
  .footer-section_title .plus{
    display: block;
    top: -10px;
    transform: rotate(90deg);
  }
  .footer-section.isActive {
    height: auto;
    transition: all 250ms ease-in-out;
  }

  .footer-section.isActive h4 {
    color: var(--mainPurple);
  }
  .footer-section.isActive .plus {
    transform: rotate(135deg);

  }
  .footer-section.isActive .horizontal, .footer-section.isActive .vertical {
    background-color: var(--mainPurple);
  }

  .footer-section_link {
    display: none;
    opacity: 0;
    visibility: hidden;
    position:relative;height:0;overflow:hidden;transition:opacity 1s ease;

  }
  .footer-section_link.isActive {
    display: block;
    visibility: visible;
    opacity: 1;
    position:relative;
    height:auto;
    overflow:hidden;
    transition: opacity 1s ease;
  }
  .footer__nav_other {
    flex-direction: column-reverse;
  }
  .footer__nav_rs {
    margin: auto;
    margin-bottom: 25px;
  }

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
